.info{
    margin-top: 4rem;
    width: 46rem;
    display: flex;
    flex: 1;
    /* justify-content: center; */
    background-color: var(--gray-100);
    margin: 4rem auto;
    align-items: center;
    justify-content: space-between;

}

.containerEmpty {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
  }


  .containerEmpty {
    padding: 4rem 1rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  
    color: var(--gray-300);
  }
  
  .containerEmpty p {
    display: flex;
    flex-direction: column;
  }


/* .header{
    color: var(--blue) ;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
}

.section{
    color: var(--blue) ;
    display: flex;
    justify-content: end;
    align-items: flex-end;
} */
/* .divButton {
    margin-top: -1.7rem;
    display: flex;
    justify-content: center;
} */